@keyframes anim {
    0%{ 
        right: 51%;
    }
    50%{ 
        right: 49%;
    }
    100% {
        stroke-dashoffset: 0;
        right: 50%;
    }
}

#svg-code{
    position: absolute;
    right: 50%;
    top: 13%;
    transform: translateX(50%) scale(1);
    path:nth-child(1) {
        stroke-dasharray: 750px;
        stroke-dashoffset: 750px;
        animation: 2s anim 10s alternate infinite;
    }
}   