.header-road {
    background-color: rgb(25, 25, 25);
    color: white;

    .window-road {
    margin-left: 10px;

        .road-onglet {
            padding: 5px;
            width: 12%;
            background: rgb(51, 51, 51);
            border-radius: 10px 10px 0px 0px;

            @media (max-width:800px){
                width: 20%;
            }

            i.fas.fa-road {
                margin: 0 12px;
            }
        }
    }

    .url-road {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        background: rgb(51, 51, 51);
        border-radius: 6px 0 0 0;

        .icones {
            width: 7.3%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            @media (max-width:1024px){
                width: 17%;
            }

            a{
                color: white;
                text-decoration: none;
                transition: all 500ms;
                border-radius: 50px;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{
                    background: rgba(255,255,255,0.2);
                }
            }

            i.fas.fa-arrow-right, i.fas.fa-arrow-left {
                color: rgb(132, 134, 135);
            }
        }

        .url {
            display: flex;
            width: 82%;
            align-items: center;
            justify-content: space-between;
            background: #191919;
            padding: 6px;
            border-radius: 50px;

            @media (max-width:1024px){
                width: 75%;
            }

            i.fas.fa-lock {
                margin-left: 10px;
                font-weight: 600;
            }

            .url-name {
                margin-right: auto;
                margin-left: 12px;

                span{
                    color: rgb(132, 134, 135);
                }
            }

            i.far.fa-star {
                margin-right: 10px;
            }
        }

        .parameters {
            width: 10%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            i.fas.fa-ellipsis-v {
                margin-left: auto;
                margin-right: 18px;
                font-size: 1.4em;
            }
        }
    }
}