.header-skill,
.url-name span {
    color: rgb(171, 171, 173);
}

.header-skill {
    background: rgb(12, 12, 14);

    .skill-onglet,
    .fa-redo,
    .fa-home,
    .url-name {
        color: rgb(230, 230, 230);
    }

    .fa-arrow-left,
    .fa-arrow-right {
        @media (max-width: 512px) {
            display: none;
        }
    }

    .fa-star {
        @media (max-width: 392px) {
            display: none;
        }
    }

    .skill-onglet {
        width: 11%;
        background: rgb(50, 50, 52);
        padding: 7px;
        padding-left: 7px;
        padding-left: 10px;

        @media (max-width: 1375px) {
            width: 20%;
        }

        @media (max-width: 1200px) {
            width: 25%;
        }

        @media (max-width: 600px) {
            width: 30%;
        }

        @media (max-width: 512px) {
            width: 40%;
        }

        @media (max-width: 368px) {
            width: 50%;
        }

        .fas.fa-database {
            margin-right: 8px;
        }
        h2{
            font-size: 16px;
            font-weight: normal;
            margin: 0;
            display: inline;
        }
    }
    .url-skill {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgb(50, 50, 52);
        padding: 6px 0;

        .icones {
            width: 14%;
            display: flex;
            align-items: center;
            justify-content: left;

            @media (min-width: 1000px) {
                margin-right: 20px;
            }

            @media (min-width: 1186px) {
                margin-right: 0px;
            }

            @media (max-width: 1000px) {
                width: 20%;
                margin-right: 0;
            }
            @media (max-width: 768px) {
                width: 30%;
            }
            @media (max-width: 400px) {
                width: 20%;
            }

            a {
                text-decoration: none;
                margin-left: 20px;
                width: 25px;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;

                &:hover {
                    background: rgb(101, 101, 102);
                }

                @media (max-width: 600px) {
                    margin-left: 12px;
                }
            }

            .fas.fa-arrow-right {
                margin-left: 20px;

                @media (max-width: 600px) {
                    margin-left: 12px;
                }
            }

            .fas.fa-arrow-left {
                margin-left: 10px;
            }
        }

        .url {
            display: flex;
            align-items: center;
            width: 70%;
            background: rgb(71, 71, 73);
            padding: 5px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            justify-content: space-between;

            @media (max-width: 512px) {
                width: 100%;
            }

            .fas.fa-shield-alt {
                padding: 0 5px;
                border-right: 1px solid rgba(255, 255, 255, 0.3);
                @media (max-width: 512px) {
                    border: none;
                    display: none;
                }
            }

            div#url {
                margin-right: auto;
                margin-left: 7px;

                i.fas.fa-lock {
                    margin-right: 5px;
                }
            }
        }
    }
    .parameters {
        width: 14%;
        display: flex;
        justify-content: flex-end;

        .fas.fa-bars {
            padding: 0 10px;
        }
    }
}
.skill-content {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding: 10px;
    height: 457px;
    // max-height: 457px;
    overflow-y: auto;

    @media (max-width: 500px) {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        padding-top: 100%;
        height: 110px;
    }
    .widget {
        width: 35%;
        height: auto;
        background: rgba(155, 155, 155, 0.12);
        border-radius: 15px;
        margin-bottom: 25px;
        box-shadow: 71px 11px 11px rgba(0, 0, 0, 0.01);
        position: relative;

        @media (max-width: 1024px) {
            width: 45%;
        }
        @media (max-width: 850px) {
            // width: 39%;
        }
        @media (max-width: 768px) {
            width: 100%;
        }
    }

    .robot {
        width: 55%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        justify-content: space-around;
        height: auto;
        max-height: 550px;

        @media (max-width: 850px) {
            // width: 58%;
        }

        @media (max-width: 768px) {
            width: 90%;
        }
    }
}
